# Операционная система
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
pagefile.sys
swapfile.sys
hiberfil.sys

# IDE: Rider / JetBrains / Visual Studio
.vs/
.idea/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.iml
*.iws
*.ipr
*.iml

# Build
bin/
obj/
*.dll
*.exe
*.pdb

# Logs, temp
*.log
*.tmp
*.bak
*.swp
*.cache

# NuGet
*.nupkg
packages/

# User-specific / local settings
*.user
*.rsuser
*.userprefs
*.DotSettings.user

# DotCover, ReSharper
*.dotCover
_ReSharper*/
*.[Rr]e[Ss]harper

# VS Code
.vscode/

# Rider system folders
.idea.EmailService/

# Секреты и конфигурация
.env
*.secrets.json
**/secrets.json

# UserSecrets (.NET)
**/UserSecrets/
**/userSecrets/
**/usersecrets/
**/.microsoft/usersecrets/
**/.microsoft/UserSecrets/
%APPDATA%/Microsoft/UserSecrets/   

# JSON-файлы, кроме whitelisted
**/*.json
!appsettings.json
!appsettings.Development.json

# Swagger docs (если сгенерируются)
swagger.json
swagger/*.json
